@using System.Security.Claims
@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Welcome @context.User?.FindFirst(ClaimTypes.Email)?.Value
                    <NavLink class="nav-link" href="logout">
                        <span class="bi bi-box-arrow-left"></span> Log Out
                    </NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right"></span> Log In
                    </NavLink>
                    <NavLink class="nav-link" href="register">
                        <span></span> Sign Up
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
